<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      body {
        background-image: url('./assets/83bc9e38f376ce6f8c0e2e97c01cfa05.jpg');
      }
      </style>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-4">
        <h2>Broccoli</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/Broccoli-florets.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>carrots</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/carrots-vegetables.jpg" alt="Card image" style="width:100%;height:310px">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>Bitter gourd</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/vegetable-names-in-punjabi-for-english-readers.jpg" alt="Card image" style="width:100%;height:310px">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
</div>


<div class="row">
<div class="col-lg-4">
    <h2>Ladies Finger</h2>
    <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="./assets/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2017__07__okra-8bdb6c487e054e11ae5d7e3069962a7b.jpg" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <!-- <h4 class="card-title">John Doe</h4> -->
        <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>


<div class="col-lg-4">
    <h2>Brinjal</h2>
    <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="./assets/vegetables-brinjal-aubergine-egg-plant-purple-violet-color-colour-A1MCDX.jpg" alt="Card image" style="width:100%;height: 280px;">
      <div class="card-img-overlay">
        <!-- <h4 class="card-title">John Doe</h4> -->
        <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>


<div class="col-lg-4">
    <h2>Tomatoes</h2>
    <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="./assets/GettyImages-939779058.jpg" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <!-- <h4 class="card-title">John Doe</h4> -->
        <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Ridge gourd</h2>
    <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="./assets/ridged-gourd-500x500.jpg" alt="Card image" style="width:100%;height:280px">
      <div class="card-img-overlay">
        <!-- <h4 class="card-title">John Doe</h4> -->
        <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div> 

<div class="col-lg-4">
  <h2>capsicum</h2>
  <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
  <div class="card img-fluid" style="width:500px">
    <img class="card-img-top" src="./assets/white-background-food-vegetables-green-sweet-peppers-five-green-peppers-raw-water.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <!-- <h4 class="card-title">John Doe</h4> -->
      <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div> 

<div class="col-lg-4">
  <h2>Garlic</h2>
  <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
  <div class="card img-fluid" style="width:500px">
    <img class="card-img-top" src="./assets/five-heads-garlic-cutting-board-green-vegetable-background-five-heads-garlic-cutting-board-green-184959616.jpg" alt="Card image" style="width:100%;height:280px">
    <div class="card-img-overlay">
      <!-- <h4 class="card-title">John Doe</h4> -->
      <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div> 



</div>



</div>
<router-outlet></router-outlet>
</body>
</html>