<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      body {
        background-image: url('./assets/83bc9e38f376ce6f8c0e2e97c01cfa05.jpg');
      }
      </style>
</head>
<body>
    <!-- <p>fruits works!</p> -->
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
        <h2>strawberries</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px;height:100px">
          <img class="card-img-top" src="./assets/ordinary-fruits-with-amazing-health-benefits-05-1440x810.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>Promogranate</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px;height:100px">
          <img class="card-img-top" src="./assets/slowest-perishable-vegetables-fruits.jpeg" alt="Card image" style="width:100%;height:240%">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        </div>

        <div class="col-lg-4">
        <h2>kiwi</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/full-frame-shot-of-kiwi-slices-royalty-free-image-742260967-1564092068.jpg" alt="Card image" style="width:100%;height:230px">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-4">
        <h2>pineapple</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/photo-1550258987-190a2d41a8ba.jfif" alt="Card image" style="width:100%;height:240px">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
  
    <div class="col-lg-4">
        <h2>Dragon</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/dragon-fruit_1624713810023_1627993091830.webp" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>orange</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/_110697089_p06p9bdw.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
  </div>
    <div class="row">

      <div class="col-lg-4">
        <h2>cherries</h2>
        <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="./assets/bing-cherries-ripe-red-fruit.jpg" alt="Card image" style="width:100%;height:240px">
          <div class="card-img-overlay">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>

    <div class="col-lg-4">
      <h2>bananas</h2>
      <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
      <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="./assets/bananas.png" alt="Card image" style="width:100%;height:240px">
        <div class="card-img-overlay">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
  </div>

  <div class="col-lg-4">
    <h2>papaya</h2>
    <!-- <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p> -->
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="./assets/sliced-papaya-and-mangoes-fruits-on-the-table.jpg" alt="Card image" style="width:100%;height:240px">
      <div class="card-img-overlay">
        <!-- <h4 class="card-title">John Doe</h4> -->
        <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p> -->
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>
</div>






    





















    </div> 

      </div>
      <router-outlet></router-outlet>
</body>
</html>

